/* styles.css */

@import url("https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.bodyHomepage {
  width: 100%;
  height: 100vh;
  font-family: "REM", sans-serif;
}

.homepage {
  width: 100%;
  height: 100vh;
  display: flex;
}

.mainSideBar {
  width: 18%;
  height: 100%;
  background-color: #222222de;
  padding: 25px;
}

.mainContent {
  background-color: #dadada63;
  width: 82%;
  height: 100%;
  padding: 25px;
}

.homeSideBarHeaderContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.404);
  flex-wrap: wrap;

  padding: 10px;
  border-radius: 10px;
  margin-bottom: 20px;
  border-bottom: 2px solid white;
}

.homeSideBarHeaderInfo h1 {
  font-size: 1.5rem;
  color: #7e36dbe5;
  margin-left: 5px;
}

.homeSideBarHeaderInfo {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.homeSideBarHeaderIcons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

img {
  filter: brightness(0) invert(1);
}

.homeProfilePicture {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 10px;
  filter: brightness(1) invert(0);
}

.homeBellIcon {
  margin-right: 8px;
}

.homeSideBarItem {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 7px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.404);
  cursor: pointer;
}

.homeSideBarItems {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.homeSidebarItemText {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  color: #7e36dbe5;
  font-size: 1.05rem;
}

.homeSideBarItem:hover {
  background-color: rgba(0, 0, 0, 0.604);
}

.homeSidebarItemIconContainer {
  display: flex;
  position: absolute;
}


